
main{
    width: 100%; 
    background-color: rgb(215, 214, 214);
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}
.container-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.conteiner-main{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.coluna1{
    width: 300px;
    height: 500px;    
    font-family: sans-serif;
    margin-right: 10px;
}   

.coluna1 :hover{
    background-color: #E1A83A;
    color:#880016 ;
}
.coluna2 :hover{
    background-color: #E1A83A;
    color:#880016 ;
}

/*<<<coluna01>>>*/
.item01, .item02, .item03, .item04, .item05, .item06, .item07, .item08{ 
    background-color: white;
    width: 300px;
    height:45px;
    margin: 5px;
    align-content: center;
    border-radius: 10px;
    padding: 5px; 
    font-size: 22px;
    box-shadow: 10px 10px 5px 2px rgb(183, 183, 183); 
    cursor: pointer; 
}

.coluna2{
    width: 100px;
    height: 500px; 
    text-align: center;
    color: rgb(189, 18, 18);
    font-family: sans-serif;
    margin: 10px
    
}

/*coluna2*/
.item1 , .item2, .item3, .item4, .item5, .item6, .item7, .item8{   
    align-content: center;
    background-color: white;
    width: 150px;
    height: 45px;
    margin: 5px;
    padding: 5px;   
    font-size: 25px;
    box-shadow: 10px 10px 5px 2px rgb(183, 183, 183); 
    cursor: pointer; 
}

.conteiner-section{
    background-color:rgb(215, 214, 214) ;
    display: flex;
    padding-top: 25px;
    justify-content: space-evenly;
}

/*buttons*/

.Confirmar, .Adicionar, .Cancelar{
    border-radius: 30px;
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    align-content: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Cancelar{
    background-color: #FF3131;  

}

.Confirmar{
    background-color: #29D825;       
}

.Adicionar{
    background-color: rgb(0, 0, 0);
    color: white;

}

.Confirmar:hover{
    box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
    cursor: pointer;
}

.Adicionar:hover{
    box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
    cursor: pointer;
}

.Cancelar:hover{
    box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
    cursor: pointer;
}
main{
    border-bottom: 1px solid #a2a2a2;
}
section{
    height: 113px;
}