h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: sans-serif;
}

.conteiner{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.coluna1{
    width: 300px;
    height: 400px;    
    font-family: sans-serif;
}

.coluna1 :hover{
    background-color: #E1A83A;
    color:#880016 ;
}
.coluna2 :hover{
    background-color: #E1A83A;
    color:#880016 ;
}

.item01, .item02, .item03, .item04, .item05, .item06{ /*coluna1*/
    background-color: white;
    width: 190;
    height:40px;
    margin: 5px;
    align-content: center;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px 2px rgb(183, 183, 183); 
    cursor: pointer;
    
}

.coluna2{
    width: 150px;
    height: 400px;
    text-align: center;
    color: rgb(189, 18, 18);
    font-family: sans-serif;
    margin: 10px;  
}


.item1 , .item2, .item3, .item4, .item5, .item6{    /*coluna2*/
    align-content: center;
    background-color: white;
    width: 100px;
    height: 40px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 25px;   
    box-shadow: 10px 10px 5px 2px rgb(183, 183, 183); 
    cursor: pointer; 
}

#linha-horizontal {
    border: 1px solid #a2a2a2;
}

.conteiner1{
    background-color:rgb(215, 214, 214) ;
    display: flex;
    justify-content: space-evenly;

}

/*buttons*/

.Confirmar, .Adicionar, .cancelar{
    border-radius: 30px;
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    align-content: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 3px 2px 1px 1px rgb(183, 183, 183); 
    cursor: pointer;
}
.cancelar{
    background-color: #FF3131;  
}

.Confirmar{
    background-color: #29D825;       
}

.Adicionar{
    background-color: rgb(0, 0, 0);
    color: white;
}

.cancelar:hover{
    box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);     
}

.Confirmar:hover{
    box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
}
.Adicionar:hover{ 
    box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
}



