*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #D9D9D9;
}

.linha-horizontal {
    border: 1px solid #a2a2a2;
}

.Linha-horizontal-Baixo {
  border: 1px solid #a2a2a2;
  margin-top: 60px;
}

img{
    margin-top: 10px;
    margin-left: 20px;
    width: 400x;
    height: 70px;
}


.menu {
    color: #c52e2e;
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .menu input {
    display: none;
  }
  
  .menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .menu span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .menu span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .menu span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .menu input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .menu input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .menu input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

.menu{
    float: right;
    list-style: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

nav{
    background-color: #E1A83A;
    width: 100%;
    height: 80px;   
}


.Pedidos {
    font-size: 36px; 
    font-weight: bold;
    margin-top: 60px;
    margin-left: 130px;
}

.Qtd {
    font-size: 36px; 
    font-weight: bold;
    margin-top: -44px;
    margin-left: 900px;
}


.Preco {
    font-size: 36px; 
    font-weight: bold;
    margin-top: -44px;
    margin-left: 1200px;
}


.CaixaDePedidos1 {
    width: 650px;  
    height: 50px; 
    background-color: #ffffff;
    margin-left: 120px;
    margin-top: 10px;
}

.CaixaDePedidos2 {
    width: 650px;  
    height: 50px; 
    background-color: #ffffff;
    margin-left: 120px;
    margin-top: 20px;
}


.CaixaDePedidos3 {
    width: 650px;  
    height: 50px; 
    background-color: #ffffff;
    margin-left: 120px;
    margin-top: 20px;
}

.CaixaDePedidos4 {
    width: 650px;  
    height: 50px; 
    background-color: #ffffff;
    margin-left: 120px;
    margin-top: 20px;
}

.CaixaDePedidos5 {
    width: 650px;  
    height: 50px; 
    background-color: #ffffff;
    margin-left: 120px;
    margin-top: 20px;
}

.ValorTotal {
  width: 960px;  
  height: 50px; 
  background-color: rgb(176, 176, 176);
  margin-left: 120px;
  margin-top: 20px;
}

.CaixaQtd1 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 900px;
  margin-top: -329px;
}

.CaixaQtd2 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 900px;
  margin-top: 18px;
}

.CaixaQtd3 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 900px;
  margin-top: 18px;
}

.CaixaQtd4 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 900px;
  margin-top: 20px;
}

.CaixaQtd5 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 900px;
  margin-top: 18px;
}

.ValorPreco1 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 1200px;
  margin-top: -395px;
}

.ValorPreco2 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 1200px;
  margin-top: 20px;
}

.ValorPreco3 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 1200px;
  margin-top: 18px;
}

.ValorPreco4 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 1200px;
  margin-top: 20px;
}

.ValorPreco5 {
  width: 180px;  
  height: 50px; 
  background-color: #ffffff;
  margin-left: 1200px;
  margin-top: 18px;
}

.ValorPrecoCinza {
  width: 180px;  
  height: 50px; 
  background-color: rgb(176, 176, 176);
  margin-left: 1200px;
  margin-top: 18px;
}

#linha-horizontal {
  border: 1px solid #a2a2a2;
}

/*buttons*/

.Confirmar, .Voltar, .Cancelar{
  border-radius: 30px;
  width: 200px;
  height: 40px;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  align-content: center;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Cancelar{
  background-color: #FF3131;  
}

.Confirmar{
  background-color: #29D825;       
}

.Voltar{
  background-color: rgb(0, 0, 0);
  color: white;
}

.Voltar:hover{
  background-color: #000000;
  box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
  cursor: pointer;

}
.Confirmar:hover{
  box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
  cursor: pointer;
}
.Cancelar:hover{
  box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
  cursor: pointer;
}