*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #D9D9D9;
}

.linha-horizontal {
    border: 1px solid #a2a2a2;
}

.Linha-horizontal-Baixo {
  border: 1px solid #a2a2a2;
  margin-top: 60px;
}

img{
    margin-top: 10px;
    margin-left: 20px;
    width: 400x;
    height: 70px;
}


.menu {
    color: #c52e2e;
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .menu input {
    display: none;
  }
  
  .menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .menu span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .menu span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .menu span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .menu input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .menu input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .menu input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

.menu{
    float: right;
    list-style: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

nav{
    background-color: #E1A83A;
    width: 100%;
    height: 80px;   
}

.Quadrado {
    width: 190px;
    height: 254px;
    border-radius: 50px;
    background: #bab8b8;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
   }

   .Quadrado {
    width: 500px; 
    margin: 0 auto; 
    margin-top: 75px;

   }

   /*buttons*/
   
   .Imprimir {
    background-color: #E1A83A;   
    width: 400px;
    height: 80px;
    margin-left: 1100px;
    margin-top: -100px;
  }

  .Imprimir {
        border-radius: 30px;
        width: 300px;
        height: 45px;
        text-align: center;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: bolder;
        align-content: center;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        cursor: pointer; 
        margin-top: 52px;
        margin-left: 630px;
  }

  .Imprimir:hover{
     box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
  }