*{
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: #E1A83A;
    width: 100%;
    height: 80px;   
}

img{
    margin-top: 10px;
    margin-left: 20px;
    width: 400x;
    height: 70px;
}
ul, li{
    float: right;
    list-style: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

main{
    width: 100%;
    height: 78vh;
    background-color: rgb(215, 214, 214);
}

.forma{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: sans-serif;
}

.cartao1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1, .item3{
    width: 350px;
    height: 50px;
    border: solid white;
    text-align: center;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    font-size: 35px;
    font-family: sans-serif;
}

.item2{
    width: 200px;
    height: 50px;
    border: solid white;
    text-align: center;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    font-size: 35px;
    font-family: sans-serif;

}

.cartao2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item01, .item03{
    width: 350px;
    height: 50px;
    border: solid white;
    text-align: center;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    font-size: 35px;
    font-family: sans-serif;
}
.item02{
    width: 200px;
    height: 50px;
    margin: 20px;
}

#linha-horizontal {
    border: 1px solid #a2a2a2;
}

.conteiner1{
    background-color:rgb(215, 214, 214) ;
    display: flex;
    justify-content: space-evenly;

}
.cancelar{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: red;
    border-radius: 30px;
    border: solid red;
    width: 300px;
    height: 55px;
    font-size: 50px;
    text-align: center;
}

.Confirmar{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(0, 255, 13);
    border-radius: 30px;
    border: solid rgb(0, 255, 13);
    width: 300px;
    height: 55px;
    font-size: 50px;
    text-align: center;
    color: black;
}

.Adicionar{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    border: solid rgb(0, 0, 0);
    width: 300px;
    height: 55px;
    font-size: 50px;
    text-align: center;
    color: white;

}