*{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: #E1A83A;
    width: 100%;
    height: 80px;
}

img{
    margin-top: 10px;
    margin-left: 20px;
    width: 400x;
    height: 70px;
}

ul, li{
    float: right;
    list-style: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    width: 100%;    
    height: 85vh;
    background-color: rgb(215, 214, 214);
}

#conteiner{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caixa1{
    width: 400px;
    height: 190px;
    border: solid rgb(215, 214, 214);
    background-color: rgb(215, 214, 214);
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
#pedido{
    border: solid (215, 214, 214);
    border-radius: 10px;
    margin: 30px;
    background-color: white;
}
#pedido2{
    border: solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 30px;
    background-color: white;
    
}