<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanches</title>
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/lanches.css">
    <link rel="stylesheet" href="../assets/css/botoes.css">
</head>

<body>

    <body>
        <nav>

            <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
            <ul>

                <li><a href="/">Home</a></li>
                <li><a href="alterar-cardapio">Editar Cardapio</a></li>
                <li><a href="status-pedido">Pedidos</a></li>

            </ul>
        </nav>

        <main>

            <div class="container-titulo">

                <h1>Lanches</h1>

            </div>

            <div class="conteiner-main">
                <div class="coluna1">

                    {% for lanche in lanches %}
                    <label class="item-checkbox-label">
                        <span>{{ lanche.nomeItem }}</span>
                        <input type="checkbox" name="pedidos" value="{{ lanche.nomeLanche }}" class="item-checkbox">
                        <input type="number" name="quantidades" id="quantidades" class="qtd" placeholder="Quantidade"
                            min="1">
                    </label>
                    {% endfor %}

                </div>

                <div class="coluna2">

                    {% for lanche in lanches %}
                    <div class="pricetag">
                        <p class="i">R${{ lanche.preco }}</p>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </main>

        <!---buttons-->

        <section>
            <div class="conteiner-section">
                <button class="adicionar">Adicionar</button>
                <button class="cancelar">Cancelar</button>
                <button class="confirmar">Confirmar</button>
            </div>
        </section>
        <script src="/assets/scripts/logout.js"></script>
    </body>

</html>