
h1{
    margin-top: 5px;
    text-align: center;
    font-size: 40px;    
    font-family: sans-serif;
}

main{
    height: 78vh;
}
.container-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.conteiner-main{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;   
    box-sizing: border-box;
}
/*<<<coluna01>>>*/
.item01, .item02, .item03, .item04, .item05, .item06, .item07, .item08, .item09{    
    width: 300px;
    height: 45px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    align-content: center;
    padding: 3px;
    font-size: 22px;
    font-family: sans-serif;
    box-shadow: 10px 10px 5px 2px rgb(183, 183, 183); 
    cursor: pointer; 
}
/*<<<fim coluna01>>>*/

.coluna1 :hover{
    background-color: #E1A83A;
    color:#880016 ;
}
.coluna2 :hover{
    background-color: #E1A83A;
    color:#880016 ;
}

/*coluna2*/
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9{
    width: 100px;
    height: 45px;
    margin: 5px;
    background-color: white;
    color: rgb(189, 18, 18);
    align-content: center;
    padding: 3px;
    font-size: 22px;
    font-family: sans-serif;
    box-shadow: 10px 10px 5px 2px rgb(183, 183, 183); 
    cursor: pointer; 
}
/*fim coluna2*/

.conteiner-section{
    background-color:rgb(215, 214, 214) ;
    display: flex;
    padding-top: 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


main{
    border-bottom: 1px solid #a2a2a2;
}
section{
    height: 113px;
}







