
main{
    height: 75vh;
}

.forma{
    width: 100%;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: sans-serif;
}

.cartao1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item1{
    width: 350px;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    font-size: 35px;
    font-family: sans-serif;
    cursor: pointer;
}
.item1:hover{
    cursor: pointer; 
    transition: 0.5s;
    box-shadow: 10px 10px 5px 2px rgb(183, 183, 183); 
    transform: scale(1.0);
    display: inline-block;
}


.item02{
    width: 200px;
    height: 50px;
    margin: 20px;
}

#linha-horizontal {
    border: 1px solid #a2a2a2;
}

.conteiner1{
    background-color:rgb(215, 214, 214) ;
    display: flex;
    justify-content: space-evenly;

}

/*buttons*/

.Confirmar, .Adicionar, .cancelar{
    border-radius: 30px;
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    align-content: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 3px 2px 1px 1px rgb(183, 183, 183); 
    cursor: pointer; 
}
.cancelar{
    background-color: #FF3131;  
}

.Confirmar{
    background-color: #29D825;       
}

.Adicionar{
    background-color: rgb(0, 0, 0);
    color: white;
}

.Adicionar:hover{
    box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);
}

.Confirmar:hover{
    box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);    
}

.cancelar:hover{
    box-shadow: 3px 5px 3px 3px rgb(165, 165, 165);    
}