main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #B4ADAD ;
    width: 50%;
    height: 65vh;
    border-radius: 20px;
    margin-top: 30px;
    margin: 30px auto;
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
}
#perfil{
    width: 100%;
    height: 30vh;
    padding-right: 10px;
}
section{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 20px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #B4ADAD;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
p{
    margin: 30px;
    font-size: 20px;
    white-space: nowrap;
    color: #004AAD;
}

button{
    width: 100%;
    border-radius: 10px;
    height: 40px;
    background-color: #c52e2e;
    font-size: 20px;
    color: white;
}