h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}
.container-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.conteiner-main{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.coluna1{
    width: 300px;
    height: 400px;    
    font-family: sans-serif;
}

.coluna1 :hover{
    background-color: #E1A83A;
    color:#880016 ;
}
.coluna2 :hover{
    background-color: #E1A83A;
    color:#880016 ;
}

.item01, .item02, .item03, .item04, .item05, .item06{ /*coluna1*/
    background-color: white;
    width: 190;
    height:40px;
    margin: 5px;
    align-content: center;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px 2px rgb(183, 183, 183); 
    cursor: pointer;
    
}

.coluna2{
    width: 150px;
    height: 400px;
    text-align: center;
    color: rgb(189, 18, 18);
    font-family: sans-serif;
    margin: 20px;  
}


.item1 , .item2, .item3, .item4, .item5, .item6{    /*coluna2*/
    align-content: center;
    background-color: white;
    width: 100px;
    height: 40px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 25px;   
    box-shadow: 10px 10px 5px 2px rgb(183, 183, 183); 
    cursor: pointer; 
}


.conteiner-section{
    background-color:rgb(215, 214, 214) ;
    display: flex;
    padding-top: 25px;
    justify-content: space-evenly;
}


main{
    padding-top: 10px;
    border-bottom: 1px solid #a2a2a2;
}
section{
    height: 113px;
}



