<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar preços</title>
</head>
<link rel="shortcut icon" href="../images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
<link rel="stylesheet" href="../css/altera_precos.css">
<body>
    <nav>
        <img src="../images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>
            <li >###</li>
            <li>###</li>
            <li>###</li>
            <li>###</li>
        
        </ul>
    </nav>
    <main>
        <h1>Alterar preços</h1>
        <div class="conteiner">
           <div class="cod">
            <h2>Cod</h2>
            <div><P>1</P></div>
            <div><P>2</P></div>     
            <div><P>3</P></div>
            <div><P>4</P></div>
            <div><P>5</P></div>
            <div><P>6</P></div>
            <div><P>7</P></div>
            <div><P>8</P></div>
            <div><P>9</P></div>
            <div><P>10</P></div>
            <div><P>11</P></div>
            <div><P>12</P></div>
            <div><P>13</P></div>
            <div><P>14</P></div>
            <div><P>15</P></div>
            <div><P>16</P></div>
            <div><P>17</P></div>
            <div><P>18</P></div>
            <div><P>19</P></div>
            <div><P>20</P></div>
            <div><p>21</p></div>
            <div><p>22</p></div>
           </div>

           <!--fim class codigo -->

           <div class="nome_produto">
            <h2>Nome dos produtos</h2>
            <div><P>Cheeseburguer Nove</P></div>
            <div><P>Choripán</P></div>
            <div><P>Nove Chicken Grelhado</P></div>
            <div><P>Nove Supreme</P></div>
            <div><P>Nove Vegetariano</P></div>
            <div><P>Nove Vegetariano Fit</P></div>
            <div><P>Nove Vegano</P></div>
            <div><P>Nove Vegano Fit</P></div>
            <div><P>Batata Tradicional P (200g)</P></div>
            <div><P>Batata Tradicional M (400g)</P></div>
            <div><P>bata Tradicional G (600g)</P></div>
            <div><P>Batata com Bacon (600g)</P></div>
            <div><P>Batata Nove Supreme (600g)</P></div>
            <div><P>Coca-cola</P></div>
            <div><P>Coca-cola Zero</P></div>
            <div><P>Guaraná Antártica</P></div>
            <div><P></P>Fanta Uva</div>
            <div><P>Fanta Laranja</P></div>
            <div><P>Del Valle Uva</P></div>
            <div><P>Del valle Manga</P></div>
            <div><P>Àgua Mineral</P></div>
            <div><P>Água com Gás</P></div>
           </div>

           <!--fim class nome produto-->

           <div class="qtd">
            <h2>Preços</h2>
            <div><p>////</p></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div> 
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
            
           </div>
        </div>
    </main>
    <div id="linha-horizontal"></div>

    <!---buttons-->

   <section>
    <div class="conteiner1">
     <input class="inicial" type="button" value="Página inicial">
     </div>
   </section>
</body>
</html>