<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas</title>
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/bebidas.css">
    <link rel="stylesheet" href="../assets/css/style.pg5.css">
</head>
<body>
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
       <ul>
           <li>###</li>
           <li>###</li>
           <li>###</li>
           <li>###</li>
       
       </ul>
   </nav>

   <main>

       <h1>Bebidas</h1>
       
       <div class="conteiner">
        
           <div class="coluna1">
              
               <div class="item01"><p>1- Coca-cola(350ml)</p></div>
               <div class="item02"><p>2- Coca-cola Zero(350ml)</p></div>
               <div class="item03"><p>3- Fanta Uva(350ml)</p></div>
               <div class="item04"><p>4- Fanta Laranja(350ml)</p></div>
               <div class="item05"><p>5- Guaraná Antártica(350ml)</p> </div>
               <div class="item06"><p>6- Àgua Mineral(200ml)</p></div>
               <div class="item07"><p>7- Àgua Com Gás(200ml)</p></div>
               <div class="item08"><p>8- Suco Del Valle Uva(290ml)</p></div>
               <div class="item09"><p>9-SucoDelValle Manga(290ml)</p></div>

           </div>

           <div class="coluna2">
               <div class="item1"><p>R$8,80</p></div>
               <div class="item2"><p>R$8,80</p></div>
               <div class="item3"><p>R$8,80</p></div>
               <div class="item4"><p>R$8,80</p></div>
               <div class="item5"><p>R$8,80</p></div>
               <div class="item6"><p>R$7,80</p></div>
               <div class="item7"><p>R$7,80</p></div>
               <div class="item8"><p>R$9,80</p></div>
               <div class="item9"><p>R$9,80</p></div>

           </div>

       </div>
   </main>
   <div id="linha-horizontal"></div>

   <!---buttons-->
   
   <section> 
    <div class="conteiner1">
             <button class="Adicionar">Adicionar</button>
             <button class="cancelar">Cancelar</button>
             <button class="Confirmar">Confirmar</button>
    </div> 
</section>
</body>
</html>
