<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro no pagamento</title>
    <link rel="stylesheet" href="../assets/css/erro_no_pagamento.css">
</head>
<body>
    <nav>
        
        <img src="/assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
       <ul>
           <li>HOME</li>
           <li>Cardapio</li>
           <li>Pedidos</li>
           <li>login</li>
       
       </ul>
   </nav>
    <main>
        
        <div class="conteiner">
            <h1>Erro no pagamento!</h1>
                 <input class="tentar_novamente" type="button" value="Tentar novamente">
                 <input class="cancelar" type="button" value="Cancelar">        
                 <input class="mudar_pgmt" type="button" value="Mudar forma de pagamento">

        </div>

    </main>
</body>
</html>