<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque dos produtos</title>
    <link rel="stylesheet" href="../css/estoque_produtos.css">
</head>
<body>
    <nav>
        <img src="../images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>
            <li >HOME</li>
            <li>Cardapio</li>
            <li>Pedidos</li>
            <li>login</li>
        
        </ul>
    </nav>

    <main>
        <h1>Estoque dos produtos</h1>
        <div class="conteiner">
           <div class="cod">
            <h2>Cod</h2>
            <div><P>1</P></div>
            <div><P>2</P></div>     
            <div><P>3</P></div>
            <div><P>4</P></div>
            <div><P>5</P></div>
            <div><P>6</P></div>
            <div><P>7</P></div>
            <div><P>8</P></div>
            <div><P>9</P></div>
            <div><P>10</P></div>
            <div><P>11</P></div>
            <div><P>12</P></div>
            <div><P>13</P></div>
            <div><P>14</P></div>
            <div><P>15</P></div>
            <div><P>16</P></div>
            <div><P>17</P></div>
            <div><P>18</P></div>
            <div><P>19</P></div>
            <div><P>20</P></div>
            <div><P>21</P></div>
            <div><P>22</P></div>
            <div><P>23</P></div>
            <div><P>24</P></div>
            <div><P>25</P></div>
            <div><P>26</P></div>
            <div><P>27</P></div>
            <div><P>28</P></div>
           </div>

           <!--fim class codigo -->

           <div class="nome_produto">
            <H2>Nome dos produtos</H2>
            <div><P>Pão</P></div>
            <div><P>Pão integral</P></div>
            <div><P>Carne</P></div>
            <div><P>Carne vegana</P></div>
            <div><P>Linguicinha</P></div>
            <div><P>Peito de frango</P></div>
            <div><P>Bacon</P></div>
            <div><P>Tomate</P></div>
            <div><P>Rúcula</P></div>
            <div><P>Legumes</P></div>
            <div><P>Cogumelo</P></div>
            <div><P>Alfce</P></div>
            <div><P>Molhos especiais</P></div>
            <div><P>Batata</P></div>
            <div><P>Coca-cola</P></div>
            <div><P>Coca-cola Zero</P></div>
            <div><P> Guaraná Antártica</P></div>
            <div><P> Fanta Uva</P></div>
            <div><P>Fanta Laranja</P></div>
            <div><P> Del Valle Uva</P></div>
            <div><P>Del valle Manga</P></div>
            <div><P>Àgua Mineral</P></div>
            <div><P>Água com Gás</P></div>
            <div><P>Guardanapo</P></div>
            <div><P>Copo descartáveis</P></div>
            <div><P>Pratos descartáveis</P></div>
            <div><P>Sachês de molhos</P></div>
            <div><P>Canudos descartáveis</P></div>
           </div>

           <!--fim class nome produto-->

           <div class="qtd">
            <h2>Qtd.</h2>
            <div><p>///</p></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
           </div>

        
        </div>
    </main>
    <div id="linha-horizontal"></div>

    <section>
        <div class="conteiner1">
        <input class="inicial" type="button" value="Volta a página inicial">
        </div>
    </section>
</body>
</html>