<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nove Burguer Bar</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>
            
            <li><a href="#">###</a></li>
            <li><a href="#">###</a></li>
            <li><a href="#">###</a></li>
        
        </ul>
    </nav>
    <main>
        

        <div id="conteiner">
            <div class="caixa1">

                <!---buttons-->
                
                <input class="pedido" type="button" value="Pedidos" />
                <input class="pedido" type="button" value="Realizar pedidos">
                
            </div>
           
        </div>

    </main>
</body>
</html>
