<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 7</title>
    <link rel="stylesheet" href="../css/style.pg7.css">
</head>
<body>
    <nav>
        
        <img src="../images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
       <ul>
           <li >HOME</li>
           <li>Cardapio</li>
           <li>Pedidos</li>
           <li>login</li>
       </ul>
   </nav>
   <main>
    <div class="forma"><h1>Forma de Pagamento</h1></div>
    <div class="cartao1">
        <div class="item1">Cartão de Credito</div>
        <div class="item1">Pix</div>
        <div class="item1">Vale</div>
        <div class="item1"><p>Cartão de Débito</p></div>
    </div>

   </main>

   <div id="linha-horizontal"></div>
   <section> 
       <div class="conteiner1">
           <div class="Adicionar"><p>Adicionar</p></div>
           <div class="cancelar"><p>Cancelar</p></div>
       <div class="Confirmar"><p>Confirmar</p></div>
       </div>
   </section>
</body>
</html>
