<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nove Burguer Bar</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <nav>
        <img src="/assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>
            <li >HOME</li>
            <li>Cardapio</li>
            <li>Pedidos</li>
            <li>login</li>
        
        </ul>
    </nav>
    <main>

        <div id="conteiner">
            <div class="caixa1">
                <input class="pedido" type="button" value="Pedidos" />
                <input class="pedido" type="button" value="Realizar pedidos">
                
            </div>
           
        </div>

    </main>
</body>
</html>
