<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 02</title>
    <link rel="stylesheet" href="../assets/css/style.pg2.css">
</head>
<body>
    <nav>
        <img src="/assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>
            <li >HOME</li>
            <li>Cardapio</li>
            <li>Pedidos</li>
            <li>login</li>
        
        </ul>
    </nav>
    <main>

        <div class="conteiner">            
           <input class="pedido" type="button" value="Lanche">
           <input class="pedido" type="button" value="Combos">
           <input class="pedido" type="button" value="Babidas">
           <input class="pedido" type="button" value="Porções">          
        </div>

    </main>
    <div class="linha-horizontal"></div>
        
    <section> 
        <div class="conteiner1">
             <input class="Adicionar" type="button" value="Adicionar">
             <input class="Confirmar" type="button" value="Confirmar">
            <input class="cancelar" type="button" value="Cancelar">
        </div>
    </section>
    
</body>
</html>
