<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 4</title>
    <link rel="stylesheet" href="../css/style.pg4.css">
</head>
<body>
    <nav>
        
        <img src="img/logonoveburguerbar.png" alt="imagen">
       <ul>
           <li >HOME</li>
           <li>Cardapio</li>
           <li>Pedidos</li>
           <li>login</li>
       
       </ul>
   </nav>

   <main>

       <h1>Porções</h1>
       
       <div class="conteiner">
           <div class="coluna1">
              
               <div class="item01"><p>1- Batata Tradicional P</p></div>
               <div class="item02"><p>2- Batata Tradicional M</p></div>
               <div class="item03"><p>3- Batata Tradicional G</p></div>
               <div class="item05"><p>5- Batata Com Bacon</p></div>
               <div class="item06"><p>6- Batata Nove Suprema</p></div>
               

           </div>

           <div class="coluna2">
               <div class="item1"><p>R$10,00</p></div>
               <div class="item2"><p>R$14,90</p></div>
               <div class="item3"><p>R$17,90</p></div>
               <div class="item4"><p>R$21,90</p></div>
               <div class="item5"><p>R$27,90</p></div>  
           </div>

       </div>
   </main>
   <div id="linha-horizontal"></div>
   <section> 
       <div class="conteiner1">
           <button class="adicionar"><p>Adicionar</p</button>
           <div class="cancelar"><p>Cancelar</p></div>
       <div class="Confirmar"><p>Confirmar</p></div>
       </div>
   </section>
</body>
</html>
