<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações salvas com sucesso</title>
    <link rel="shortcut icon" href="../images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/informacoes_salvas.css">
</head>
<body>
    
</body>
</html>
<nav>
    <img src="../images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
    <ul>
        
        <li><a href="#">###</a></li>
        <li><a href="#">###</a></li>
        <li><a href="#">###</a></li>
    
    </ul>
</nav>
    <main>
        <div class="conteiner">
            <div class="caixa"><p>Informações salvas com sucesso!</p></div>
            <!---buttons-->
             <button class="inicio">Início</button>
        </div>
    </main>
