<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações salvas com sucesso</title>
    <link rel="stylesheet" href="../assets/css/informações_salvas.css">
</head>
<body>
    
</body>
</html>
<nav>
    <img src="/assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
    <ul>
        <li >HOME</li>
        <li>Cardapio</li>
        <li>Pedidos</li>
        <li>login</li>
    
    </ul>
</nav>
    <main>
        <div class="conteiner">
            <div class="caixa"><p>Informações salvas com sucesso!</p></div>
            <div class="inicio">Início</div>
        </div>
    </main>
