<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanches</title>
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/lanches.css">
</head>

<body>

    <body>
        <nav>

            <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
            <ul>

                <li><a href="/">Home</a></li>
                <li><a href="cardapio">Cardapio</a></li>
                <li><a href="status-pedido">Pedidos</a></li>
                <li><a href="login">Login</a></li>

            </ul>
        </nav>

        <main>

            <div class="container-titulo">

                <h1>Lanches</h1>

            </div>

            <div class="conteiner-main">
                <div class="coluna1">

                    <div class="item01">
                        <p>1- Cheeseburguer Nove</p>
                    </div>
                    <div class="item02">
                        <p>2- Choripám</p>
                    </div>
                    <div class="item03">
                        <p>3- Nove Chiken Grelhado</p>
                    </div>
                    <div class="item04">
                        <p>4- Nove Supreme</p>
                    </div>
                    <div class="item05">
                        <p></p>5- Nove Vegetariano
                    </div>
                    <div class="item06">
                        <p></p>6- Nove Vegetariano Fit
                    </div>
                    <div class="item07">
                        <p></p>7- Nove Vegano
                    </div>
                    <div class="item08">
                        <p></p>8- Nove Vegano Fit
                    </div>

                </div>

                <div class="coluna2">
                    <div class="item1">
                        <p>R$29,90</p>
                    </div>
                    <div class="item2">
                        <p>R$40,60</p>
                    </div>
                    <div class="item3">
                        <p>R$44,10</p>
                    </div>
                    <div class="item4">
                        <p>R$48,80</p>
                    </div>
                    <div class="item5">
                        <p>R$34,60</p>
                    </div>
                    <div class="item6">
                        <p>R$44,90</p>
                    </div>
                    <div class="item7">
                        <p>R$34,60</p>
                    </div>
                    <div class="item8">
                        <p>R$44,90</p>
                    </div>

                </div>

            </div>
        </main>

        <!---buttons-->

        <section>
            <div class="conteiner-section">
                <button class="Adicionar">Adicionar</button>
                <button class="Cancelar">Cancelar</button>
                <button class="Confirmar">Confirmar</button>
            </div>
        </section>
    </body>

</html>