<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/login.css">
</head>

<body>
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
    </nav>
    <main>
        <div class="img">
            <img src="../assets/images/perfil.png" alt="Ícone do perfil" id="perfil">
        </div>
        <section class="conteudo">
            <label>
                <input type="email" placeholder="  E-mail/CPF" autocomplete="on" spellcheck="true" required autofocus>
                <input type="password" placeholder="  Senha" autocomplete="on" spellcheck="true" required autofocus>
            </label>
        </section>
        <div class="botao">
            <p>Criar conta</p>
            <button>Login</button>
        </div>
    </main>
</body>

</html>