<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opções e Pedidos</title>
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/opcoes_e_pedidos.css">
</head>

<body>
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>

            <li><a href="/">Home</a></li>
            <li><a href="cardapio">Cardapio</a></li>
            <li><a href="status-pedido">Pedidos</a></li>

        </ul>
    </nav>
    <main>

        <div class="conteiner-main">
            <li class="pedido"><a href="lanche">Lanches</a></li>
            <li class="pedido"><a href="bebidas">Bebidas</a></li>
            <li class="pedido"><a href="porcoes">Porções</a></li>
        </div>

    </main>

    <!---buttons-->

    <section>
        <div class="conteiner-section">
            <input class="Adicionar" type="button" value="Adicionar">
            <input class="Confirmar" type="button" value="Confirmar">
            <input class="Cancelar" type="button" value="Cancelar">
        </div>
    </section>

</body>

</html>