<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento Aprovado</title>
    <link rel="stylesheet" href="../assets/css/pagamento_feito_com_sucesso.css">
</head>

<body>
    <nav>
        <img src="/assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>
            <li >HOME</li>
            <li>Cardapio</li>
            <li>Pedidos</li>
            <li>login</li>
        
        </ul>   
    </nav>
    <main>
        <div class="conteiner">
            <div>
                <p>Pagamento feito com sucesso!</p>
            </div>

        </div>
    </main>
    <div id="linha-horizontal"></div>
    <section> 
        <div class="conteiner1">
             <input class="senha" type="button" value="Gerar Senha">
        </div>
    </section>
</body>
</html>