<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento Aprovado</title>

    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/pagamento_feito_com_sucesso.css">

</head>

<body>
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="cardapio">Cardapio</a></li>
            <li><a href="status-pedido">Pedidos</a></li>
            <li><a href="login">login</a></li>

        </ul>
    </nav>
    <main>
        <div class="conteiner">
            <div>
                <p>Pagamento feito com sucesso!</p>
            </div>

        </div>
    </main>

    <!---buttons-->

    <section>
        <div class="conteiner1">
            <input class="senha" type="button" value="Gerar Senha">
        </div>
    </section>
</body>

</html>