<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="../assets/css/pedidos.css">
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/nav.css">
</head>
<body>

    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
    
     <label class="menu" for="menu">
            <input type="checkbox" id="menu">
            <span></span>
            <span></span>
            <span></span>
     </nav>

     <div class="Pedidos">Pedidos</div>
     <div class="Qtd">Qtde</div>    
     <div class="Preco">Preço</div>
    
     <div class="CaixaDePedidos1"></div>
     <div class="CaixaDePedidos2"></div>
     <div class="CaixaDePedidos3"></div>
     <div class="CaixaDePedidos4"></div>
     <div class="CaixaDePedidos5"></div>

     <div class="CaixaQtd1"></div>
     <div class="CaixaQtd2"></div>
     <div class="CaixaQtd3"></div>
     <div class="CaixaQtd4"></div>
     <div class="CaixaQtd5"></div>

     <div class="ValorTotal"></div>

     <div class="ValorPreco1"></div>
     <div class="ValorPreco2"></div>
     <div class="ValorPreco3"></div>
     <div class="ValorPreco4"></div>
     <div class="ValorPreco5"></div>
     <div class="ValorPrecoCinza"></div>


     <!---buttons-->

            <button class="Voltar"><p>Voltar</p></div>
            <button class="Cancelar"><p>XCancelar</p></div>
            <button class="Confirmar"><p>Confirmar</p></div>
      




      
</body>
</html>