<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porções</title>
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/porcoes.css">

</head>

<body>
    <nav>

        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>

            <li><a href="/">HOME</a></li>
            <li><a href="cardapio">Cardapio</a></li>
            <li><a href="status-pedido">Pedidos</a></li>
            <li><a href="login">login</a></li>

        </ul>
    </nav>

    <main>

        <div class="container-titulo">

            <h1>Porções</h1>

        </div>

        <div class="conteiner-main">
            <div class="coluna1">

                <div class="item01">
                    <p>1- Batata Tradicional P</p>
                </div>
                <div class="item02">
                    <p>2- Batata Tradicional M</p>
                </div>
                <div class="item03">
                    <p>3- Batata Tradicional G</p>
                </div>
                <div class="item05">
                    <p>5- Batata Com Bacon</p>
                </div>
                <div class="item06">
                    <p>6- Batata Nove Suprema</p>
                </div>


            </div>

            <div class="coluna2">
                <div class="item1">
                    <p>R$10,00</p>
                </div>
                <div class="item2">
                    <p>R$14,90</p>
                </div>
                <div class="item3">
                    <p>R$17,90</p>
                </div>
                <div class="item4">
                    <p>R$21,90</p>
                </div>
                <div class="item5">
                    <p>R$27,90</p>
                </div>
            </div>

        </div>
    </main>

    <!---buttons-->

    <section>
        <div class="conteiner-section">
            <button class="Adicionar">
                <p>Cancelar</p>
            </button>
            <button class="Cancelar">
                <p>Cancelar</p>
            </button>
            <button class="Confirmar">
                <p>Confirmar</p>
            </button>

        </div>
    </section>
</body>

</html>