<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha</title>
    <link rel="stylesheet" href="../assets/css/senha.css">
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/nav.css">
</head>
<body>
    <div class="Linha-horizontal"></div>
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
    
     <label class="menu" for="menu">
            <input type="checkbox" id="menu">
            <span></span>
            <span></span>
            <span></span>
     </nav>

     <!---buttons-->

     <div class="Quadrado"></div>
     <button class="Imprimir"><p>Imprimir</p></div>
</body>
</html>