<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha</title>
    <link rel="stylesheet" href="../assets/css/senha.css">
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <script src="../assets/scripts/imprimir.js" defer></script>
</head>

<body>
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">

        <label class="menu" for="menu">
            <input type="checkbox" id="menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </nav>

    <!---buttons-->

    <div class="quadrado">
        <p>552</p>
    </div>
    <div class="botoes">
        <button class="Voltar">Voltar</button>
        <button onclick="imprimirConteudo()" class="Imprimir">Imprimir</button>
    </div>
    
</body>
</html>