<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status do pedido</title>
    <link rel="stylesheet" href="../assets/css/status_do_pedido.css">
</head>
<body>
    <nav>
        <img src="/assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>
            <li >HOME</li>
            <li>Cardapio</li>
            <li>Pedidos</li>
            <li>login</li>
        
        </ul>
    </nav>

    <main>
        <div class="conteiner">
            <div class="espera">
                <h1>Em espera</h1>
                <div>548</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="fazendo">
                <h1>Fazendo</h1>
                <div>///</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="prontos">
                <h1>Prontos</h1>
                <div>///</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>

            </div>

        </div>
    </main>

</body>
</html>